.tabButtonContainer {
    text-align: center;
    & .buttonText {
        font-size: 12px;
        text-transform: capitalize;
        margin-top: -1px;
    }
}

.tabs {
    margin: 0 auto;
    background-color: var(--background-surface);
    border: 1px solid var(--border-light);
    display: flex;
    height: 26px;
    border-radius: 5px;
    flex-shrink: 0;
    padding-top: 1px;
    box-sizing: border-box;
    box-shadow: 0 1px 0 var(--border-heavy) inset;
}

.tabButton {
    border: none;
    width: 32px;
    border-radius: 4px;
    color: var(--foreground-faded);
    cursor: pointer;
    display: flex;
    align-items: center;
    &.activeTab {
        background-color: var(--background-void);
        color: var(--foreground-primary);
        box-shadow: 0 1px 0 var(--border-heavy);
    }
}
