@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
@import "material-symbols"; /* https://github.com/marella/material-symbols/tree/main/material-symbols#readme */

:root {
    color-scheme: light dark;
}

html {
    --blue: #2b8af8;
    --purple: #9460f5;
    --pink: #fb59bd;
    --red: #f54a55;
    --orange: #ef8800;
    --yellow: #e0a716;
    --green: #34bc67;

    --background-void: white;
    --background-surface: color-mix(in srgb, var(--accent-primary), hsl(0, 0%, 99%) 97%);
    --background-hover: color-mix(in srgb, var(--accent-primary), transparent 80%);

    --border-light: color-mix(in srgb, var(--accent-primary), hsl(0, 0%, 95%) 90%);
    --border-heavy: color-mix(in srgb, var(--accent-primary), hsl(0, 0%, 85%) 80%);

    --foreground-primary: color-mix(in srgb, var(--accent-primary), hsl(0, 0%, 9%) 70%);
    --foreground-secondary: color-mix(in srgb, var(--accent-primary), hsl(0, 0%, 40%) 70%);
    --foreground-faded: color-mix(in srgb, var(--accent-primary), hsl(0, 0%, 55%) 70%);
    --foreground-active: white;

    --accent-primary: var(--blue);
    --accent-secondary: var(--yellow);
    --accent-darker: color-mix(in srgb, var(--accent-secondary), hsl(0, 0%, 10%) 20%);
    --accent-translucent: color-mix(in srgb, var(--accent-secondary), white 80%);

    background-color: var(--background-void);
    color: var(--foreground-primary);
}

[data-theme="dark"] {
    --background-void: hsl(0, 0%, 8%);
    --background-surface: color-mix(in srgb, var(--accent-primary), hsl(0, 0%, 8%) 97%);

    --border-light: color-mix(in srgb, var(--accent-primary), hsl(0, 0%, 16%) 90%);
    --border-heavy: color-mix(in srgb, var(--accent-primary), hsl(0, 0%, 25%) 85%);

    --foreground-primary: color-mix(in srgb, var(--accent-primary), hsl(0, 0%, 97%) 80%);
    --foreground-secondary: color-mix(in srgb, var(--accent-primary), hsl(0, 0%, 71%) 70%);
    --foreground-faded: color-mix(in srgb, var(--accent-primary), hsl(0, 0%, 55%) 70%);
    --foreground-active: black;

    --accent-darker: color-mix(in srgb, var(--accent-secondary), hsl(0, 0%, 90%) 20%);
    --accent-translucent: color-mix(in srgb, var(--accent-secondary), hsl(0, 0%, 7%) 75%);
}

[data-accent="blue"] {
    --accent-primary: var(--blue);
    --accent-secondary: var(--orange);
}
[data-accent="purple"] {
    --accent-primary: var(--purple);
    --accent-secondary: var(--yellow);
}
[data-accent="pink"] {
    --accent-primary: var(--pink);
    --accent-secondary: var(--blue);
}
[data-accent="red"] {
    --accent-primary: var(--red);
    --accent-secondary: var(--purple);
}
[data-accent="orange"] {
    --accent-primary: var(--orange);
    --accent-secondary: var(--purple);
}
[data-accent="yellow"] {
    --accent-primary: var(--yellow);
    --accent-secondary: var(--blue);
}
[data-accent="green"] {
    --accent-primary: var(--green);
    --accent-secondary: var(--purple);
}

::selection {
    background-color: var(--accent-translucent);
}

body {
    margin: 0;
    font-family: "Heebo", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-void);
    color: var(--foreground-primary);
}

input,
button,
textarea {
    color: var(--foreground-primary);
}

label {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--foreground-faded);
    letter-spacing: 1px;
    display: block;
}

.material-symbols-outlined {
    user-select: none;
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 48;
}
